.notify {
  top: 40%;
  height: 70px;

  text-align: center;
  h5 {
    line-height: 70px;
  }
  &.error {
    background-image: linear-gradient(
      to right,
      rgba($danger, 0.1),
      rgba($danger, 0.8),
      rgba($danger, 0.8),
      rgba($danger, 0.1)
    );
    h5 {
      color: rgba(rgb(56, 0, 0), 1);
    }
  }
  &.success {
    background-image: linear-gradient(
      to right,
      rgba($success, 0.1),
      rgba($success, 0.8),
      rgba($success, 0.8),
      rgba($success, 0.1)
    );
    h5 {
      color: rgba(rgb(0, 26, 3), 1);
    }
  }
  z-index: 1001;
}
