@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
$font-size-e: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-x: 18px;
$font-size-xl: 22px;
$font-size-xll: 24px;
$font-size-xlll: 30px;
