.control-bar {
  .search-box {
    display: flex;
    margin: auto 0;
    height: 40px;
    width: 300px;
    input {
      border: 1px solid black;
      padding: 0 10px;
    }
  }
  .icon {
    right: 15px;
    svg {
      font-size: 22px;
    }
  }
}
