.overlay {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black2, 0.2);
  z-index: 1;
  display: none;
  &.open {
    display: block;
  }
}
